// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #636466;
$light-gray: #F4F4F4;
$pink: #f3a6ca;
$call-action: #ea526f;
$background-card: white;
$body: #fff7f8;
$green-hover : #86e7b8;
$green-flashy: #17ED74;
