<div class="container">

  <div class="form-inputs">
    <%= simple_form_for [ equipment, booking ] do |f| %>
      <!-- <#%= f.input :content, label: false, as: :text, autofocus:true :input_html => {:style => 'width: 100%', :rows => 5  class: 'response-project'}%> -->
      <%= f.input :start_date, as: :date, autofocus: true %>
      <%= f.input :end_date, as: :date, autofocus:true  %>
  </div>
  <div class="form-actions btn-form">
   <%= f.button :submit, "Book",  class: 'btn-gradient' %>
  </div>
    <% end %>
</div>


