<div class="user-card text-center">
  <p><%= cl_image_tag current_user.photo, class: "avatar-large" %></p>
  <p>Rent those Roller to: <br><span class="bold"><%= current_user.username.upcase %><span></p>
</div>
