<div class="user-card text-center">
  <p><%= cl_image_tag @equipment.user.photo, class: "avatar-large" %></p>
  <p>Rent those Roller to: <br><span class="bold"><%= @equipment.user.username.upcase %><span></p>
</div>
