<h2 class="text-center">My Bookings</h2>

<ul>
  <li class="current"><%= link_to 'Received', equipment_bookings_path(current_user) %> </li>
  <li><%= link_to 'Sent', equipment_bookings_path(current_user) %> </li>
</ul>
