<div id="footer-container" class="footer navbar-fixed-bottom">
  <div class="footer-links">
    <a href="https://github.com/Maxlafitte/decathloc" target="blank"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    <h4>@Derby Team</h4>
  </div>
</div>
