.navbar-decathloc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 16px 24px;
  background-color: #636466;
  a {
    color: white;
    text-decoration: none;
    margin: 0px 10px;
    font-family: "roboto";
  }
  a:hover {
    color: $pink;
  }
}
.logo-tag {
    width: 280px;
    height: 70px;
}

.navbar-decathloc .brand {
  width: 40px;
}

.navbar-decathloc .navbar-decathloc-actions {
  display: flex;
  align-items: center;
}

.navbar-decathloc .navbar-decathloc-actions .navbar-decathloc-link {
  margin-left: 24px;
  color: #999999;
}
.navbar-decathloc .navbar-decathloc-actions .navbar-decathloc-link:hover {
  color: #151515;
}


.navbar-decathloc .navbar-decathloc-actions .avatar {
  margin-left: 24px;
}

.navbar-decathloc .dropdown-toggle {
  cursor: pointer;
}
