.navbar-decathloc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 0px 0px;
  background: linear-gradient(0deg, rgba(222,223,224,1) 20%, rgba(202,203,206,1) 64%, rgba(210,210,210,1) 100%);
  position: sticky;

  a {
    color: white;
    text-decoration: none;
    margin: 0px 10px;
    font-family: "roboto";
  }
  a:hover {
    color: $pink;
  }
}

.logo-tag {
    width: 280px;
    height: 70px;
    margin-left: -10px;
}

.navbar-decathloc .brand {
  width: 40px;
}

.navbar-decathloc .navbar-decathloc-actions {
  display: flex;
  align-items: center;
}

.navbar-decathloc .navbar-decathloc-actions .navbar-decathloc-link {
  margin-left: 24px;
  color: #999999;
}
.navbar-decathloc .navbar-decathloc-actions .navbar-decathloc-link:hover {
  color: #151515;
}


.navbar-decathloc .navbar-decathloc-actions .avatar {
  margin-left: 24px;
}

.navbar-decathloc .dropdown-toggle {
  cursor: pointer;
}

.sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}





