.form {
  height: 40px;
}

.search-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-input {
  margin-right: 10px;
  height: 40px;
  border-radius: 4px;
  padding-left: 7px;
}

.select2-selection {
  height:40.5px !important;
  // border-radius: 0px !important;
  margin-bottom: 2px;
}

#select2-size-container {
  text-align: center !important;
  margin-top: 4px;

}
