.equipment-desc {
  margin-left: 80px;
  font-size: 10;
}


.big-card {
  margin :20px;
  color: $gray;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  padding: 10px;
  justify-content: space-around;
  display: flex;
  font-size: small;
}

.form-card {
  margin :20px;
  color: $gray;
}
